.chart {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

text {
  text-anchor: middle;
  font: 10px sans-serif;
  pointer-events: none;
  opacity: 0;
}

circle {
  cursor: pointer;
}

img {
  width: 200px;
}

a {
  color: #FFF;
  font-weight: bold;
  display: block;
}

span {
  display: inline-block;
  margin-top: 5px;
  padding: 2px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  display: flex;
  font-family: sans-serif;
  max-width: 500px;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 1rem;
  background: #f1d3b5;
  background: linear-gradient(to right, #FFFFFF, #f1d3b5);
  gap: 10rem;
  width: 450px;
  height: 350px;
}

.tooltip__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  margin: 15px;
}

.title {
  font-weight: 500;
  width: 180px;
}

.name {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}